.navbar{
    //background-color: #009999;
    background-color: #fff;
    color:#000;
}
.nav navbar-inverse .navbar-nav>li> a{
    color:#080808;
}
.navbar-inverse .navbar-nav li:hover,
.navbar-inverse .navbar-nav li.active {
    background-color: #080808;
}

.navbar-inverse .navbar-nav li:hover a,
.navbar-inverse .navbar-nav li:focus a {
    color: #fff;
}

.container{
    color:#000000;
}
p{
    font-family: "Calibri", serif;
    font-size: 12px;
}
.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom {
    max-height:inherit;
}
.form-inline{
    max-height:inherit;
}
#content-container{
    padding-top:25px;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
}
#top-container{
    padding-top:80px;
    padding-bottom:25px;
}